.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
.div_speed
{
    float: left;
}
.disk_speed_image
{
    width: 100px;
    border-radius: 100px;
}
#speed
{
    font-size: 23px;
    margin: 15px;
}
.div_volume
{
    float: right;
}
.disk_volume_image
{
    width: 100px;
    border-radius: 100px;
}
#volume
{
    font-size: 23px;
    margin: 15px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
}